/*文章的整体背景，渐变色设置*/
#web_bg {
  background-image: 'https://cdn.jsdelivr.net/gh/Alanyaeer/ImgSummary@master/img/202310291723347.png', 
  linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), 
}

/* 主页所有文章页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
  /* 以下代表透明度为0.5 */
  background: rgba(255, 255, 255, .5);
}
/*侧边栏页面*/
#aside-content>.card-widget {
  background: rgba(255, 255, 255, .6);
}

#aside-content>.sticky_layout>.card-widget {
  background: rgba(255, 255, 255, .6);
}

/*文章页面*/
.layout>#post {
  background: rgba(255, 255, 255, .6);
}

/*分类页面*/
.layout>#page {

  background : rgba(255, 255, 255, .6);
}

/*时间轴页面*/
.layout>#archive {
  background: rgba(255, 255, 255, .6);
}