#web_bg {
  background-image: url("../img/background.png"),
  linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35))
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* #web_bg {
  background-image: url("../img/background.png"), 
  linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), 
} */
/* 主页所有文章页面背景 */
/* #aside-content>.card-widget {
  background: linear-gradient(-45deg,
          #e8d8b9,
          #eccec5,
          #a3e9eb,
          #bdbdf0,
          #eec1ea);
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
} */

@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

/* 个人信息Follow me按钮 */
/* #aside-content>.card-widget.card-info>#card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}

#aside-content>.sticky_layout>.card-widget {
  background: rgba(255, 255, 255, .8);


} */
#pagination {
  width: 100%;
  margin: auto;
}
/*文章页面*/
.layout>#post {
  background: rgba(255, 255, 255, .8);
}

/*分类页面*/
.layout>#page {

  background: rgba(255, 255, 255, .6);
}

/*时间轴页面*/
.layout>#archive {
  background: rgba(255, 255, 255, .6);
}

/*顶部加载进度条*/
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2;
  position: fixed;
  margin: auto;
  top: 4px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 6rem;
  background: #eaecf2;
  overflow: hidden;
}

.pace-inactive .pace-progress {
  opacity: 0;
  transition: 0.3s ease-in;
}

.pace.pace-inactive {
  opacity: 0;
  transition: 0.3s;
  top: -8px;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  position: fixed;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #49b1f5;
  background: linear-gradient(
    to right,
    rgb(18, 194, 233),
    rgb(196, 113, 237),
    rgb(246, 79, 89)
  );
  animation: gradient 2s ease infinite;
  background-size: 200%;
}

#nav-right {
  flex: 1 1 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}

@font-face{
  font-family: 'YSHST';
  src: url(../font/YSHaoShenTi-2.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: block;
}